@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  /* --font-title: "Manrope", sans-serif; */

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  /* colors */

  --color-bg: #e5e5e5;
  --color-footer: #5f37ef;
  --color-button: #7854f7;
  --color-button2: #70c217;
  --color-title: #272d4e;
  --color-text: #94a2b3;
  --color-footer: #5f37ef;
  /* --color-link: #299ef3; */
  --color-link: #7854f7;

  /* sizes */

  --font-size-title: 35px;
}
